@model MVC1Crud.Models.User
@{
    ViewBag.Title = "Delete";
}
<h1>Delete</h1>
<h4>Are you sure Want to delete this User?</h4>
<hr />
<div>
    <dl class = "row">
     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    <form asp-action = "Delete">
    <input type = "hidden" asp-for="Id"/>
    <input type = "submit" value = "Delete" class = "btn btn-danger"/>
    <a asp-action = "Index" >Back to the List</a>
    </form>
</div>

